// 😀
// follow the New specification. https://www.figma.com/file/awS8QHAtZEe8yI9yE1xMM6/Design-System-V0.1.6?type=design&node-id=411%3A1638&mode=design&t=Esf40nr4uSJFqJj7-1
// popup window-large
// TODO app-panel transform to popup-window
// app-panel(popup-window) > popup-[size] ,size: small、 large 、, it contorl the width of popup window.
.modal.app-panel{
	.pop-small{

	}

	@media screen and (min-width: 769px) {
		.app-panel {
			.modal-card {
				transition: all 0.3s;
				._pl {
					margin-right: 0;
				}
			}
		}
	}
	
	@media screen and (min-width: 1440px) {
		.app-panel {
			.modal-card {
				._pl {
					margin-right: 0;
				}
			}
		}
	}
	
	@media screen and (max-width: 1366px) {
		.app-panel {
			.modal-card {
				width: 60rem;
				.app-store{
					width: 100%;
				}
			}
		}
		.f-list {
			.is-one-quarter {
				width: 33.333333% !important;
			}
		}
	}
	
	@media screen and (max-width: 1024px) {
		.app-panel {
			.modal-card {
				min-width: 100%;
				.app-store{
					width: 100%;
				}
			}
		}
		.f-list {
			.is-one-quarter {
				width: 50% !important;
			}
		}
	}
	
	@media screen and (max-width: 960px){
		.modal .animation-content{
			width: 100%;
		}
		.app-panel {
			.modal-card {
				width: 100%;
				.app-store{
					width: 100%;
				}
			}
		}
	}
	
	@media screen and (max-width: 768px) {
	}
	
	@media screen and (max-width: 480px) {
		.app-panel {
			.modal-card {
				width: 100%;
				.app-store{
					width: 100%;
				}
			}
		}
		.f-list {
			.is-one-quarter {
				width: 100% !important;
			}
		}
	}
}

